@import 'style/GLOBAL';

.errorTextContainer{
    display: block;
    text-align: left;
    color: $colorErrorMain;
    padding-top: 5px;
    animation: animation_errorOpacityIn 1s;
}

@keyframes animation_errorOpacityIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}