@import 'style/GLOBAL';

@mixin mixin_inputCommon($borderColor, $bgColor) {
    border: 1px solid $borderColor;
    background-color: $bgColor;
}

.textarea{
    width: 100%;
    resize: vertical;
    height: 200px;
    min-height: 100px;
    font-size: $fontSizeBody1;
    box-sizing: border-box;
    font-size: $fontSizeBody1;
    outline: none;
    border-radius: 6px;
    padding: 10px 16px 10px 16px;
    $animationTime: 0.3s;
    transition: background-color $animationTime, border-color $animationTime, box-shadow $animationTime;
}

.inputDefault {
    @include mixin_inputCommon($colorInputBorder, $colorInputBackground);
    &:focus {
        border-color: $colorPrimaryMain;
        box-shadow: 0px 0px 0px 1px $colorPrimaryMain;
    }
}

.inputError {
    @include mixin_inputCommon($colorErrorMain, $colorInputBackground);

    &:focus {
        border-color: $colorErrorDark;
        box-shadow: 0px 0px 0px 1px $colorErrorDark;
    }
}

.inputDisabled {
    @include mixin_inputCommon($colorInputBorder, $colorInputBackgroundDisabled);
}

.inputSuccess {
    @include mixin_inputCommon($colorSuccessMain, $colorInputBackground);

    &:focus {
        border-color: $colorSuccessDark;
        box-shadow: 0px 0px 0px 1px $colorSuccessDark;
    }
}