// primary
$colorPrimaryLight: #90caf9;
$colorPrimaryMain: #2189ff; 
$colorPrimaryDark: #42a5f5;

// secondary
$colorSecondaryLight: #f3e5f5;
$colorSecondaryMain: #ce93d8;
$colorSecondaryDark: #ab47bc;

// error
$colorErrorLight: #e57373;
$colorErrorMain: #f44336;
$colorErrorDark: #d32f2f;

// warning
$colorWarningLight: #ffb74d;
$colorWarningMain: #ffa726;
$colorWarningDark:#f57c00;

// info
$colorInfoLight: #4fc3f7;
$colorInfoMain: #29b6f6;
$colorInfoDark: #0288d1;

// success
$colorSuccessLight:#81c784;
$colorSuccessMain: #66bb6a;
$colorSuccessDark:#388e3c;

// disabled
$colorDisabledLight:#ecedee;
$colorDisabledMain: #d5dadf;
$colorDisabledDark:#828385;

// contrastText
$colorPrimaryContrastText: #fff;
$colorSecondaryContrastText: #000000;
$colorErrorContrastText: #fff;
$colorWarningContrastText: #000000;
$colorSuccessContrastText: #fff;
$colorDisabledContrastText: #000000;

// text
$colorTextDisabled:#B2BAC2;
$colorTextIcon: #B2BAC2;
$colorTextPrimary:black;
$colorTextSecondary:#B2BAC2;

// common
$colorCommonBlack:#1D1D1D;
$colorCommonWhite:#fff;

// background
$colorBackgroundBody: #f5f5f5;
$colorBackgroundPanel: #f5f5f5;

$colorInputBorder:#d1d3d4;
$colorInputBackground:#fff;
$colorInputBackgroundDisabled:#e9e9e9;
$colorInputActive:#29b6f6;
$colorInputFocus:#29b6f6;
$colorInputHover:#29b6f6;