// Самый большой текст на экране, зарезервированный для короткого важного текста или цифр.
$fontSizeHeadline1: 96px;
// Вариант заголовка 2
$fontSizeHeadline2:60px;
// Вариант заголовка 3
$fontSizeHeadline3: 48px;
// Вариант заголовка 4
$fontSizeHeadline4: 34px;
// Вариант заголовка 5
$fontSizeHeadline5: 24px;
// Вариант заголовка 6
$fontSizeHeadline6: 20px;
// Меньше, чем заголовок, зарезервировано для текста со средним выделением, но короче по длине
$fontSizeSubtitle1: 16px;
// Вариант подзаголовка 2
$fontSizeSubtitle2: 14px;
// Основный текст используется для длинного текста
$fontSizeBody1: 16px;
// Основный текст2
$fontSizeBody2: 14px;
// Используется аннотирования 
$fontSizeCaption: 12px;
// Текст кнопок, вариант 1
$fontSizeButton1: 16px;
// Текст кнопок, вариант 2
$fontSizeButton2: 14px;
// Текст кнопок, вариант 3
$fontSizeButton3: 12px;

$fontFamilyCommon: 'Arial';