@import 'style/GLOBAL';

.forgotPasswordContainer {
    text-align: right;
    margin-top: 30px;


}

.link {
    color: $colorPrimaryMain;
    text-decoration: none;
    font-size: $fontSizeBody1;

    &:hover {
        text-decoration: underline;
    }
}